@import "../../../../../../../style/abstract.scss";

.invoice-tab {
   .paying-user {
      display: flex;

      .search {
         font-size: 1.6rem;
         background-color: inherit;
         margin-left: 1.5rem;
         margin-bottom: 0.9rem;

         &:active,
         &:focus {
            box-shadow: none;
         }
      }
   }

   .invoice-detail {
      color: $black-color;

      label {
         font-size: 2.4rem;
         margin-right: 2rem;

         @include respond(small-phone) {
            font-size: 2rem;
         }
      }

      input {
         font-size: 2rem;
         text-align: center;
         background-color: inherit;

         @include respond(small-phone) {
            font-size: 1.7rem;
            width: 15rem;
         }
      }
   }

   .btn-end {
      .tooltip {
         display: flex;

         .tooltiptext {
            left: 40%;
            top: 4rem;
            transform: translateX(-50%);
         }
      }

      .form-input {
         margin-right: -7.9rem;
      }
      .search {
         font-size: 2rem;
         padding: 0 0.7rem;
      }
   }

   .tooltip .tooltiptext {
      top: 3rem;
   }
}
