@import "../../../../../../../style/abstract.scss";

.invoice-tab {
   .invoice-detail {
      color: $black-color;

      label {
         font-size: 2.4rem;
         margin-right: 2rem;
      }

      input {
         font-size: 2rem;
         text-align: center;
         background-color: inherit;
      }
   }

   .btn-end {
      .form-input {
         margin-right: -8rem;
      }
      .search {
         padding: 0 0.5rem;
      }
   }
}
