@import "../../../style/abstract.scss";

.popup {
   height: 100vh;
   width: 100%;
   position: fixed;
   justify-content: center;
   align-items: center;
   display: flex;
   top: 0;
   left: 0;
   background-color: rgba($black-color, 0.8);
   padding: 15rem 0;
   z-index: 9999;
   transition: all 0.3s;
   visibility: visible;

   //se fija si el browser puede utilizarlo (actualmente solo safari, no chrome) y si puede, hace lo que
   //esta dentro de los brackets
   @supports (-webkit-backdrop-filter: blur(10px)) or
      (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba($black-color, 0.3);
   }

   &-content {
      display: flex;
      flex-direction: column;
      z-index: 9999;
      opacity: 0.82;
      margin: 0 auto;
      width: 70%;
      background-color: $white-color;
      border-radius: 3px;
      box-shadow: 0 2rem 4rem rgba($black-color, 0.2);
      padding: 1.6rem;
      padding-bottom: 4rem;
      border: 1px solid $secondary-color;
      transform: none;
      overflow: hidden;

      @include respond(small-phone) {
         padding-bottom: 3rem;
         width: 93%;
      }
   }

   &-text {
      padding: 4rem 0 0 0;

      h3 {
         font-size: 2.5rem;
         margin-bottom: 1rem;
      }

      p {
         font-size: 2rem;
      }

      @include respond(small-phone) {
         padding: 2rem 0 0 0;

         h3 {
            font-size: 1.8rem;
         }

         p {
            font-size: 1.6rem;
         }
      }

      .user {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         padding: 0.8rem 3rem;

         &:first-child {
            padding-top: 0;
         }

         &:last-child {
            padding-bottom: 0;
         }

         .round-img {
            margin-right: 2rem;
            height: 6rem;
            width: 6rem;
         }
      }

      .student {
         font-size: 1.5rem;
         text-align: left;

         &:not(:last-child) {
            margin-bottom: 2rem;
         }
         .name {
            color: $dark-color;
         }
         .form-input {
            margin: 1rem;
            width: 96%;
            margin-bottom: 0;
         }
      }
   }

   &-img {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem 1.6rem;
      border-bottom: 1px solid $secondary-color;

      @include respond(small-phone) {
         padding: 0 0.5rem 1rem;
      }

      img {
         width: 5rem;
         height: 4.5rem;

         @include respond(small-phone) {
            width: 4rem;
            height: 3.7rem;
         }
      }

      .btn-cancel {
         margin-right: 0;
         font-size: 3rem;
         display: flex;
         align-items: center;

         &:hover {
            background-color: inherit;
         }
      }
   }

   &.hide {
      visibility: hidden;
      opacity: 0;

      & > .popup-content {
         @include easeOut;
         transform: scale(0.25);
      }
   }
}
