@import "../../../../style//abstract.scss";

.salaries {
   tr {
      font-size: 2.2rem;
      background-color: inherit !important;
   }

   input {
      background-color: lighten($secondary-color, 30%) !important;
   }
}
