@import "../../../../style/abstract.scss";

.composition {
   position: relative;
   width: 50%;
   height: 100%;

   @include respond(phone) {
      // 20rem;
      margin-top: 6rem;
      width: 90%;
   }

   &-photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($black-color, 0.4);
      border-radius: 2px;
      position: absolute;
      transition: all 0.2s;
      z-index: 10;
      outline-offset: 1rem;

      @include respond(phone) {
         //cuando se hace float, tiene que estar en position relative
         float: left;
         position: relative;
         width: 33.33333333%;
         box-shadow: 0 1.5rem 3rem rgba($black-color, 0.2);
         outline-offset: 0.45rem;
      }

      &--p1 {
         left: 1rem;
         top: -2rem;

         @include respond(phone) {
            top: 0;
            transform: scale(1.2);

            &:hover {
               left: 33%;
            }
         }
      }
      &--p2 {
         right: 0;
         top: 2rem;

         @include respond(phone) {
            top: -1rem;
            transform: scale(1.3);
            z-index: 100;

            &:hover {
               top: 0;
            }
         }
      }
      &--p3 {
         left: 20%;
         top: 10rem;

         @include respond(phone) {
            top: 1rem;
            left: 0;
            transform: scale(1.2);

            &:hover {
               left: -33% !important;
               top: 0 !important;
            }
         }
      }

      &:hover {
         transform: scale(1.2) translateY(-0.5rem);
         outline: 1.2rem solid $primary-color;
         z-index: 120;
         box-shadow: 0 2.5rem 4rem rgba($black-color, 0.5);

         @include respond(phone) {
            outline: 0.6rem solid $primary-color;
            transform: scale(2.9);
         }
      }
   }

   &:hover &-photo:not(:hover) {
      transform: scale(0.9);
   }
}
