.container {
   margin: 6rem auto 0 auto;
   overflow: hidden;
   padding: 2rem 3.2rem;
   min-height: 90vh;

   @include respond(small-phone) {
      padding: 1.5rem 2rem;
   }

   h1,
   h2 {
      color: $dark-color;
      padding: 3rem;

      @include respond(phone) {
         padding: 1rem;
      }
   }

   h1 {
      font-size: 6.5rem;
      line-height: 7rem;

      @include respond(phone) {
         font-size: 5rem;
         line-height: 5.5rem;
      }
   }

   h2 {
      font-size: 4.5rem;
      line-height: 6rem;

      @include respond(phone) {
         font-size: 3.5rem;
         line-height: 4.5rem;
      }
   }

   .inner-container {
      padding: 6rem;
      background-color: $white-color;

      @include respond(phone) {
         padding: 3rem;
      }
   }
}

.row {
   max-width: $max-width;
   display: flex;
   margin: 0 auto;
   justify-content: space-evenly;
   align-items: center;

   /* &:not(:last-child) {
         margin-bottom: $horizontal-grid;
     } */

   @include respond(phone) {
      flex-direction: column;
   }
}
