.form {
   width: 60%;
   margin: 0 auto;
   padding: 1rem 0;
   text-align: left;
   font-size: $default-font-size;

   @include respond(tab-port) {
      width: 70%;
   }
   @include respond(phone) {
      width: 80%;
   }
   @include respond(small-phone) {
      width: 90%;
   }

   .border {
      border: 1px $secondary-color solid;
      padding: 1.6rem;

      margin: 3rem auto;
   }

   &.bigger {
      width: 90%;
   }

   &.smaller {
      width: 50%;

      @include respond(small-phone) {
         width: 75%;
      }
   }

   &-group {
      margin: 1rem 0;

      .two-in-row {
         display: inline-flex;
         width: 100%;

         .form-input {
            min-width: 50%;
         }
         .form-label {
            width: 100%;
         }
      }
   }

   &-input {
      display: block;
      width: 100%;

      padding: 0.96rem;
      font-size: inherit;
      border-radius: 2px;
      background-color: rgba($secondary-color, 0.1);
      border: none;
      //para que cuando se haga focus no se agrade el bloque entero
      border-bottom: 3px solid transparent;

      @include respond(small-phone) {
         -webkit-appearance: none;
         -moz-appearance: none;
      }

      &:focus {
         outline: none;
         box-shadow: 0 1rem 2rem rgba($black-color, 0.1);
         border-bottom: 3px solid $success-color;

         &:invalid {
            border-bottom: 3px solid $danger-color;
         }
      }

      &.center {
         text-align: center;
         text-align-last: center;
      }
   }

   &-label,
   &-label-show {
      font-size: 1.35rem;
      margin-left: 1rem;
      margin-top: 0.3rem;
      display: block;
      transition: all 0.3s;
      color: $dark-color;
   }

   &-input:placeholder-shown + &-label,
   .lbl {
      //ambos asi se puede animar y que aparezca de a poco con transition
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
   }

   .radio-group,
   .checkbox-group {
      display: flex;
      align-items: center;
   }

   &-radio,
   &-checkbox {
      position: absolute;
      opacity: 0;
      z-index: 1;
   }

   .radio-lbl,
   .checkbox-lbl {
      position: relative;
      margin: 0 2rem 0.5rem 0;
      padding: 0.7rem 1.5rem 0 3rem;
      line-height: 2rem;
      z-index: 2;
      cursor: pointer;
      &:before {
         box-sizing: border-box;
         content: " ";
         position: absolute;
         top: 0.3em;
         left: 0;
         display: block;
         width: 1.4em;
         height: 1.4em;
         border: 2px solid $secondary-color;
         background-color: lighten($light-color, 15%);
         border-radius: 0.25em;
         z-index: 1;
      }
   }

   &-checkbox + .checkbox-lbl::before {
      padding-top: 0.35rem;
   }

   &-radio + .radio-lbl::before {
      border-radius: 1em;
   }

   &-radio:checked + .radio-lbl,
   &-checkbox:checked + .checkbox-lbl {
      color: $primary-color;
      &::before {
         top: 0;
         width: 100%;
         height: 2em;
         z-index: -1;
      }
   }

   .radio-lbl,
   .radio-lbl::before,
   .checkbox-lbl,
   .checkbox-lbl::before {
      transition: 0.3s all ease;
   }
}
