@import "../../../../../../style/abstract.scss";

.class {
   text-align: center;
   max-width: 100%;
   border: 1px solid $primary-color;
   font-size: $default-font-size;
   justify-content: space-around;

   @include respond(phone) {
      border: none;
   }

   &.row {
      max-width: 100%;
      align-items: stretch;
   }

   & > * {
      padding: 3rem;
   }

   .title {
      width: 40%;
      @include respond(phone) {
         width: 100%;
      }
   }
   .description {
      border-left: 1px solid $primary-color;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond(phone) {
         border: none;
         width: 100%;
      }
   }

   .no-class {
      width: 100%;

      h3 {
         text-align: start;
      }
   }
}

.absence {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   padding: 0 2rem;
}

.badge {
   font-size: $default-font-size;
   padding: 0.3rem 0.5rem;
   text-align: center;
   border-radius: 50%;
   margin-left: 0.5rem;
   backface-visibility: hidden;
   @include background($light-color);
}

.observation {
   margin-left: 3rem;
   margin-bottom: 1.5rem;

   h4 {
      color: $dark-color;
      font-size: 2rem;
      margin-bottom: 0.5rem;
   }

   p {
      margin-left: 1rem;
   }
}

.student-classes {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;

   .class-item {
      padding: 1rem;
      p {
         margin-right: 1rem;
         display: inline-block;
      }
   }
}

.btn-text.liner {
   text-decoration: underline;
   margin: -3rem 2rem 2rem;
}
