table {
	overflow-x: auto;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0 !important;
	padding: 0;
}
table input[type='number'],
table input[type='text'] {
	border: none;
	width: 100%;
	font-size: 1rem;
	text-align: center;
	background: inherit;
}
table select {
	border: none;
	background: inherit;
	width: 70%;
	font-size: 1rem;
	text-align: center;
}
table select option {
	text-align: center;
}
table th,
table td {
	padding: 0.625em;
	text-align: center !important;
}
.hola {
	background-color: red;
}
