@import "../../../../../../style/abstract.scss";

.date-filter {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 2rem 0;

   @include respond(small-phone) {
      width: 100%;
      flex-direction: column;

      > * {
         width: 100%;

         &:first-child {
            margin-bottom: 2rem;
         }

         .form-input {
            width: 100%;
         }
      }
   }
}
