.container {
   margin: 5rem;
   padding: 0 3rem 3rem 3rem;
   font-size: 1.5rem;
   font-family: "Courgette", cursive;
   font-weight: lighter;
   border: 1px solid black;
   height: 92rem;
   position: relative;
}

table {
   border-collapse: collapse;
   width: 100%;
}

.business {
   font-size: 2.5rem;
   font-family: "Dancing Script", cursive;
   margin-bottom: 0rem;
}

.text-right {
   text-align: right;
}

.logo {
   margin-top: 3rem;
   width: 17rem;
   height: 17rem;
}

table.details {
   text-align: center;
   margin-top: 2rem;
}

table.details thead {
   display: table-header-group;
   background-color: #dadddd;
}

table.details th,
table.details td {
   border: 1px solid #333;
}
table.details th {
   padding: 1rem 2rem;
}
table.details td {
   font-weight: 300;
   padding: 0.5rem 1rem;
}

table.invoice-info {
   position: relative;
}

table.invoice-info td.invoice-info {
   position: absolute;
   bottom: 0;
   right: 3rem;
}

.summary {
   position: absolute;
   bottom: 4rem;
   right: 2rem;
}

.title,
.value {
   display: inline-block;
   padding: 1rem 2rem;
   margin: 0;
}

.title {
   font-size: 2rem;
}

.value {
   width: 8rem;
}
