@import "../../../../style/abstract.scss";

.dashboard {
   width: 75%;

   @include respond(tab-port) {
      width: 90%;
   }

   @include respond(phone) {
      width: 95%;
   }
   .profile-top {
      display: flex;
      padding: 3rem;

      @include respond(small-phone) {
         flex-direction: column;
         align-items: center;
         padding: 1.5rem;
      }

      & > * {
         display: flex;
         flex-direction: column;
         justify-content: center;

         @include respond(small-phone) {
            width: 100% !important;
         }
      }

      .img-about {
         width: 45%;
         align-items: center;

         @include respond(small-phone) {
            padding-bottom: 1rem;
            border-bottom: 1px solid $dark-color;
         }
      }

      .about {
         width: 55%;

         @include respond(small-phone) {
            margin-top: 2rem;
         }

         p {
            font-size: 1.8rem;

            span {
               font-size: 2.5rem;
            }
         }

         &-info {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }

         .btn-right {
            padding-top: 3rem;
         }
      }
   }
}
