@import "../list/style.css";

html {
   font-size: 40%;
}

.class-info,
.teacher {
   font-family: "Courgette", cursive;
   text-align: start;
}

.teacher {
   font-size: 3rem;
}

.class-info .category {
   font-size: 2.5rem;
   margin: -1.5rem 0 -1rem 0;
   padding: 0;
}

table.schedule {
   margin-top: -1rem;
}

table.schedule td {
   border: none;
   text-align: center;
}

table.schedule .space {
   margin-right: 2rem;
}

table.none {
   display: none;
}

table.blank {
   margin-top: 3rem;
}

table th.blank {
   padding: 1.5rem;
}
