@import "../../../../../style/abstract.scss";

.class {
   text-align: center;
   max-width: 100%;
   font-size: $default-font-size;
   justify-content: space-around;

   &.row {
      max-width: 100%;
   }

   & > * {
      padding: 3rem;
   }

   .title {
      width: 40%;
      @include respond(phone) {
         width: 100%;
      }
   }
   .description {
      width: 60%;
      @include respond(phone) {
         width: 90%;
         margin-bottom: 3rem;
      }
   }

   .no-class {
      width: 100%;

      h3 {
         text-align: start;
      }
   }
}

.absence {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   padding: 0 2rem;
}

.badge {
   font-size: $default-font-size;
   padding: 0.3rem 0.5rem;
   text-align: center;
   border-radius: 50%;
   margin-left: 0.5rem;
   backface-visibility: hidden;
   @include background($light-color);
}
