body {
   font-family: "Tinos", serif;
   text-align: center;
   margin-top: 1rem;
}
.category,
.teacher,
table.schedule {
   font-family: "Courgette", cursive;
   text-align: start;
   font-weight: 100;
}
.category {
   font-size: 2rem;
   margin-bottom: -1rem;
}
.teacher {
   font-size: 1.5rem;
}
table {
   border-collapse: collapse;
   width: 100%;
}
table thead {
   display: table-header-group;
}
table th,
table td {
   border: 1.5px solid #333;
   text-align: center;
}
table th {
   padding: 0.7rem 1rem;
   font-weight: bold;
}
table td {
   padding: 0.5rem 0.8rem;
}
table.schedule {
   margin: 1rem 0;
}
table.schedule td {
   border: none;
}
table.schedule .space {
   margin-right: 2rem;
}
