body {
   font-family: "Courgette", cursive;
   /* margin: 3.5rem 3.8rem; */
   padding: 1.8rem;
   border: 1px solid black;
   position: relative;
}
table {
   border-collapse: collapse;
   width: 100%;
}
.business {
   font-size: 1.8rem;
   font-family: "Dancing Script", cursive;
   margin: -2rem 0 0;
}
.text-right {
   text-align: right;
}
.logo {
   width: 12rem;
   height: 12rem;
}
table.invoice-info {
   position: relative;
}
table.invoice-info td.invoice-info {
   position: absolute;
   bottom: -1rem;
   right: 2rem;
}
table.details {
   text-align: center;
   margin-top: 2rem;
   font-size: 0.95rem;
   margin-bottom: 2rem;
}
.room {
   height: 2.2rem;
}
.spaces-1 {
   min-height: 53vh;
}
.spaces-2 {
   min-height: 48vh;
}
.spaces-3 {
   min-height: 42vh;
}
table.details thead {
   display: table-header-group;
   background-color: #dadddd;
}
table.details th,
table.details td {
   border: 1px solid #333;
   padding: 0.5rem 0.8rem;
}
table.details td {
   font-weight: 300;
}
/* .summary {
   position: absolute;
   bottom: 2rem;
   right: 1.3rem;
} */
.title,
.value {
   display: inline-block;
   padding: 0.8rem 1.5rem;
   margin: 0;
}
.title {
   font-size: 1.4rem;
}
.value {
   width: 5rem;
}
