body {
   font-family: "Tinos", serif;
   margin: 3.5rem 3.8rem;
   padding: 1.5rem 2rem;
   border: 2px solid #333;
   position: relative;
}
.header {
   /* text-align: end;
   padding-left: 1rem; */
   width: 100% !important;
   margin-bottom: 2.5rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo {
   width: 4.2rem;
   height: 4.2rem;
}
.student {
   /* margin-bottom: 4rem;
   text-align: center; */
   font-size: 1.6rem;
   font-family: "Courgette", cursive;
   font-weight: 400;
}
h4 {
   font-weight: 100;
   font-size: 1.3rem;
   margin-bottom: -0.3rem;
}
h4 .style {
   font-family: "Courgette", cursive;
}
h5 {
   font-weight: 100;
   font-size: 1.2rem;
   margin: 1.4rem 0 1rem;
}
table {
   border-collapse: collapse;
   width: 100%;
}
table thead {
   display: table-header-group;
}
table th,
table td {
   border: 1.5px solid #333;
   text-align: center;
}
table th {
   padding: 0.5rem 1rem;
   font-weight: bold;
}
table th.blank {
   border-top: none;
   border-left: none;
}
table td {
   padding: 0.5rem 1rem;
}
.grades {
   margin-top: -1rem;
}
.final-title {
   text-align: center;
   margin-top: 1.1rem;
   font-size: 1.1rem;
}
.final-grades {
   table-layout: fixed;
}
.final-grades.small {
   width: 80%;
   margin: 0 auto;
}
.signatures {
   position: absolute;
   bottom: 0.8rem;
   width: 88%;
   display: flex;
   justify-content: space-around;
   text-align: center;
   font-size: 1.1rem;
}
.line {
   border-top: 1px solid black;
   margin-bottom: -0.8rem;
   width: 12rem;
}
