.classInfo {
   .post-notification {
      font-size: 0.9rem;
      width: 1.3rem;
      height: 1.3rem;
      right: -0.8rem;
      top: 0;
   }

   .text {
      margin-left: 0.5rem;
   }
}
