.contact {
	background-image: linear-gradient(
			to right bottom,
			rgba($light-color, 0.75),
			rgba($primary-color, 0.75)
		),
		url(../img/gallery-5.png);
	background-size: cover;
	min-height: 90vh;

	h1 {
		padding: 6rem 0;
	}
}

.google {
	padding: 6rem 0;

	iframe {
		width: 70%;
		height: 40rem;
		display: block;
		margin: 0 auto;

		@include respond(phone) {
			width: 90%;
		}
	}
}
