//Top
.profile-top {
	display: flex;

	@include respond(small-phone) {
		flex-direction: column;
		align-items: center;
	}

	& > * {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include respond(small-phone) {
			width: 100% !important;
		}
	}

	.img-about {
		width: 40%;
		align-items: center;

		@include respond(small-phone) {
			padding-bottom: 1rem;
			border-bottom: 1px solid $dark-color;
		}
	}

	.about {
		width: 60%;

		@include respond(small-phone) {
			margin-top: 2rem;
		}

		p {
			font-size: $default-font-size;

			span {
				font-size: 2.5rem;
			}
		}

		&-btn {
			margin-top: 4rem;
			text-align: right;
			height: 10%;

			> button {
				margin-right: 2rem;
			}
		}
		&-info {
			height: 90%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

//Relatives section
.relatives {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: $default-font-size;

	.relative {
		padding: 1rem;
		p {
			margin-right: 1rem;
			display: inline-block;
		}
	}
}

//Class section
.class {
	text-align: center;
	font-size: $default-font-size;
	justify-content: space-around;

	& > * {
		padding: 4rem;
	}

	.title {
		width: 40%;
		@include respond(phone) {
			width: 100%;
		}
	}
	.description {
		width: 60%;
		@include respond(phone) {
			width: 90%;
			margin-bottom: 3rem;
		}
	}
}

.absence {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	padding: 0 2rem;
}
