@import "../list/style.css";

.title {
   font-size: 4rem;
}

.subtitle {
   text-align: start;
   font-family: "Courgette", cursive;
}

.teacher {
   font-size: 2.5rem;
   margin-top: 4rem;
}
.category {
   font-size: 2rem;
   margin-top: -1.5rem;
}

table.attendance th {
   padding: 1rem;
}

table.attendance th:not(:first-child),
table.attendance td:not(:first-child) {
   font-size: 1.2rem;
   padding: 0.5rem 0;
}

table.all-grades th,
table.all-grades td:not(:first-child) {
   padding: 0.7rem;
}

.border {
   border: 2px solid #333;
   border-bottom: 1.5px solid #333;
}

.border-right {
   border-right: 2px solid #333 !important;
}

.border-bottom {
   border-bottom: 2px solid #333;
}

.no-border {
   border: none;
}
