//Alerts
.alert {
	text-align: center;
	padding: 0.8rem;
	font-size: $default-font-size;
	margin-bottom: 4rem;
	opacity: 0.8;
	background: $light-color;
	color: $black-color;

	&.alert-primary {
		@include set-background($primary-color);
	}
	&.alert-secondary {
		@include set-background($secondary-color);
	}
	&.alert-danger {
		@include set-background($danger-color);
	}
	&.alert-success {
		@include set-background($success-color);
	}
}
