.badge {
	font-size: $default-font-size;
	padding: 0.35rem;
	text-align: center;
	border-radius: 70%;
	margin-left: 0.3rem;
	background: $light-color;
	color: #333;

	&.badge-primary {
		@include set-background($primary-color);
	}
	&.badge-dark {
		@include set-background($dark-color);
	}
	&.badge-secondary {
		@include set-background($secondary-color);
	}
	&.badge-success {
		@include set-background($success-color);
	}
	&.badge-danger {
		@include set-background($danger-color);
	}
}
