//Buttons
.btn {
	&,
	&:link,
	&:visited {
		display: inline-block;
		background: $light-color;
		color: $black-color;
		padding: 0.64rem 2.1rem;
		border: none;
		cursor: pointer;
		font-size: $default-font-size;
		border-radius: 0.64rem;
		opacity: 0.7;
		@include easeOut;

		/* @include respond(phone) {
			font-size: 2rem;
		} */

		&.btn-primary {
			@include set-background($primary-color);
			&:hover {
				background: lighten($primary-color, 10%) !important;
			}
		}
		&.btn-dark {
			@include set-background($dark-color);
			&:hover {
				background: lighten($dark-color, 10%) !important;
			}
		}
		&.btn-secondary {
			@include set-background($secondary-color);
			&:hover {
				background: lighten($secondary-color, 10%) !important;
			}
		}
		&.btn-secondary-2 {
			@include set-background(lighten($secondary-color, 20%));
			&:hover {
				background: lighten($light-color, 10%) !important;
				color: $dark-color !important;
			}
		}
		&.btn-light {
			@include set-background($light-color);
			&:hover {
				background: lighten($light-color, 10%) !important;
				color: $dark-color !important;
			}
		}
		&.btn-print-blank {
			background-color: $secondary-color;
			color: #ebeae1;

			&:hover {
				background: lighten($secondary-color, 13%);
			}
		}
		&.btn-danger {
			@include set-background($danger-color);
			&:hover {
				background: lighten($danger-color, 10%) !important;
			}
		}
		&.btn-success {
			@include set-background($success-color);
			&:hover {
				background: lighten($success-color, 10%) !important;
			}
		}
		&.btn-black {
			background-color: $black-color;
			color: $white-color;
			transition: all 0.1s;

			&:hover,
			&:active,
			&:focus {
				background-color: #c2010e;
				transform: none;
			}
		}
	}

	&:hover {
		background: lighten($dark-color, 20%);
		color: #fff;
		transform: translateY(-0.3rem) scale(1.05);
		box-shadow: 0 1rem 2rem rgba($black-color, 0.2);
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-0.1rem);
		box-shadow: 0 0rem 1rem rgba($black-color, 0.2);
	}

	&-ctr {
		margin-top: 3rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;

		@include respond(phone) {
			margin-top: 2rem;
		}
	}

	&-right {
		margin-top: 3rem;
		text-align: end;

		@include respond(phone) {
			margin-top: 2rem;
		}

		& > *:not(:last-child) {
			margin-right: 3rem !important;
		}
	}

	&-close {
		text-align: end;
		width: 100%;
		button {
			padding: 0.2rem 1rem;
			opacity: 0.6;
			margin-right: 0;
		}
	}

	&-icon {
		font-size: 3rem;
		background: inherit;
		border: none;
		justify-self: center;
		align-self: center;
		border-radius: 50%;
		@include shortTrans;

		&:hover:not(.text-dark) {
			cursor: pointer;
			color: lighten($primary-color, 20%);
			transform: translateY(-0.3rem) scale(1.05);
		}

		&:active,
		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(-0.1rem);
		}
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $primary-color;
		display: inline-block;
		text-decoration: none;
		//border-bottom: 1px solid $primary-color;
		padding: 3px;
		transition: all 0.2s;
	}

	&:hover {
		/* background-color: $color-primary;
		color: $color-white; */
		//box-shadow: 0 1rem 2rem rgba($black-color, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		//box-shadow: 0 0.5rem 1rem rgba($black-color, 0.15);
		transform: translateY(0);
	}
}
