.post {
	width: 100%;
	margin: 3rem auto;
	padding: 3rem 3rem 3rem 9rem;
	transform: none;

	@include respond(small-phone) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3rem;
	}

	.person {
		&-shape {
			transform: translate(-4rem, 2rem);

			@include respond(small-phone) {
				transform: none;
			}
		}

		&-text {
			transform: none;
			min-height: 20rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include respond(small-phone) {
				margin-top: 1rem;
				width: 100%;
				min-height: 17rem;

				.btn {
					margin-top: 0.5rem;
				}
			}
		}
	}
}
