.section-sidebar {
	display: flex;

	@include respond(small-phone) {
		flex-direction: column;
	}

	.sidebar {
		//primer valor es grow (el tamano de uno de los items con respecto a los otros,
		//lo ponemos en 0 si no queremos que aumente si hay espacio de mas) el segundo es shrink
		//(si no queremos que se achique cuando achicamos la pantalla, lo ponemos en 0. Sino en 1)
		//el ultimo valor es el porcentaje en relacion a los otros elementos del row
		flex: 0 0 32%;

		display: flex;
		flex-direction: column;
		background-color: $dark-color;
		border-top: 0.2rem solid $white-color;
		border-right: 0.3rem solid $dark-color;

		@include respond(small-phone) {
			border: none;
		}
	}
	.info {
		width: 70%;
		background-color: $white-color;

		@include respond(small-phone) {
			width: 100%;
		}
	}

	.side-nav {
		list-style: none;
		font-size: 2rem;
		margin: 3rem 0;

		@include respond(small-phone) {
			display: flex;
			margin: 0;
		}

		&-item {
			position: relative;

			&:not(:last-child) {
				margin-bottom: 0.5rem;

				@include respond(small-phone) {
					margin-bottom: 0;
				}
			}

			@include respond(small-phone) {
				flex: 1;
				padding: 1rem 0;
			}

			&:hover > .side-nav-link {
				transition: color 0.7s;
				color: $primary-color;
			}
		}

		&-item::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0.5rem;
			height: 100%;
			width: 3px;
			background-color: $light-color;

			transform: scaleY(0);
			transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
				background-color 0.1s;
		}

		&-item:hover::before {
			transform: scaleY(1);
			width: 95%;
		}

		&-link:link,
		&-link:visited {
			color: $white-color;
			display: flex;
			padding: 1.5rem 3rem;
			align-items: center;
			position: relative;
			//z-index solo funciona cuando hay position
			z-index: 10;

			@include respond(small-phone) {
				flex-direction: column;
				padding: 1.5rem 0.5rem;
			}
		}

		&-icon {
			margin-right: 2rem;

			@include respond(small-phone) {
				margin-right: 0;
				width: 1.5rem;
				height: 1.5rem;
				margin-bottom: 0.7rem;
			}
		}
	}
}
