@import "../../../../../../style/abstract.scss";

table.expences {
   tr td {
      border-bottom: 1px solid lighten($secondary-color, 15%);
   }

   .bg {
      &-refund {
         background-color: lighten(gold, 45%) !important  ;
      }
      &-income {
         background-color: lighten($success-color, 62%) !important;
      }
      &-expence {
         background-color: lighten($danger-color, 58%) !important;
      }
      &-withdrawal {
         background-color: lighten(blueviolet, 43%) !important;
      }
   }
}
