@import "../../../../../style/abstract.scss";

.section-team {
   padding: 10rem 1rem 15rem 1rem;
   position: relative;
   background-color: lighten($light-color, 10%);

   @include respond(phone) {
      padding: 6rem 1rem 3rem 1rem;

      .btns {
         order: 2;
         display: flex;
         width: 50%;
         justify-content: space-around;
         margin-top: 2rem;
      }
   }

   & .row {
      justify-content: space-evenly;
   }

   /* .bg-video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.1;
      //cuando una imagen o video es mas grade que el padre, usamos overflow: hidden
      overflow: hidden;

      &-content {
         height: 100%;
         width: 100%;
         //como background-size: cover; pero con videos
         object-fit: cover;
      }
   } */

   .person {
      width: 75%;
      box-shadow: 0 3rem 6rem rgba($black-color, 0.1);
      background-color: rgba($white-color, 0.7);
      border-radius: 3px;
      padding: 5rem;
      padding-left: 8rem;
      transform: skewX(-12deg);

      @include respond(phone) {
         width: 88%;
      }
      @include respond(small-phone) {
         transform: skewX(0);
         padding: 5rem 3rem 3rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }

      &-shape {
         float: left;
         -webkit-shape-outside: circle(50% at 50% 50%);
         shape-outside: circle(50% at 50% 50%);
         overflow: hidden;
         border-radius: 50%;

         //elementos que usa float no utilizar margin para moverlo sino transform
         transform: translate(-3rem, -1rem) skewX(12deg);
         position: relative;

         @include respond(small-phone) {
            transform: skewX(0);
            overflow: inherit;
         }
      }

      &-img {
         object-fit: cover;
         border-radius: 50%;
         width: 37rem;
         height: 37rem;
         transform: /* translateX(-4rem) */ scale(1.1);
         background-color: #fff;
         @include easeOut;
         backface-visibility: hidden;

         @include respond(tab-port) {
            width: 30rem;
            height: 30rem;
         }

         @include respond(small-phone) {
            width: 25rem;
            height: 25rem;
         }
      }

      &-text {
         transform: skewX(12deg);
         margin-top: 3rem;

         .heading-tertiary {
            margin-top: 3rem;
         }

         @include respond(tab-port) {
            margin-top: 1.5rem;
            .heading {
               &-secondary {
                  font-size: 3.8rem;
               }
               &-tertiary {
                  margin-top: 2rem;
                  font-size: 2rem;
               }
            }
         }
         @include respond(small-phone) {
            transform: skewX(0);
            text-align: center;
         }
      }

      // &-caption {
      //    position: absolute;
      //    top: 50%;
      //    left: 50%;
      //    transform: translate(-50%, 20%);
      //    color: $white-color;
      //    text-align: center;
      //    opacity: 0;
      //    @include easeOut;
      //    //para anular cambio extrano que hace transform con las animaciones
      //    backface-visibility: hidden;
      // }

      // &:hover .person-caption {
      //    opacity: 1;
      //    transform: translate(-50%, -50%);
      // }

      // &:hover .person-img {
      //    transform: /* translateX(-4rem) */ scale(1);
      //    filter: blur(3px) brightness(80%);
      // }
   }
}
