@import "../../../../../../style/abstract.scss";

table.installments {
   &.modify td {
      &:hover {
         background-color: lighten($secondary-color, 25%);
      }

      &.selected {
         background-color: $light-color !important;
      }
   }
}

.move-down {
   margin-bottom: -7.2rem !important;

   @include respond(phone) {
      margin-bottom: -5.3rem !important;
   }
}
