@import "../../../../../../style/abstract.scss";

.relatives {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-items: center;
   font-size: $default-font-size;

   .relative {
      padding: 1rem;
      p {
         margin-right: 1rem;
         display: inline-block;
      }
   }
}
