html {
   /* deployed */
   font-size: 52%;
   font-family: "Times New Roman", Times, serif;
}

.header {
   margin-top: -1.3rem;
   text-align: end;
   padding: 0 5rem 0 0;
}
.header-img {
   width: 8rem;
   height: 8rem;
}
.container {
   margin-top: -7rem;
   padding: 0 5rem 3rem 5rem;
   text-align: center;
   font-size: 1.5rem;
}
.title {
   font-size: 3.5rem;
   font-family: "Courgette", cursive;
   text-decoration: underline;
}
.title.big {
   font-size: 4.5rem;
}
table {
   border-collapse: collapse;
   width: 100%;

   /* deployed */
   font-size: 90%;
}
table.small {
   width: 60%;
   margin: 0 auto;
   margin-top: 8rem;
   font-size: 2rem;
}
table thead {
   display: table-header-group;
}
table th,
table td {
   border: 1px solid #333;
}
table th {
   padding: 1rem 2rem;
   font-weight: bold;
}

table th.blank {
   border-top: none;
   border-left: none;
}

table td {
   padding: 0.5rem 1rem;
}

.total {
   text-align: end;
   font-size: 2rem;
   margin-top: 3rem;
}

.footer {
   font-family: "Courgette", cursive;
   font-size: 1.3rem;
   padding: 1.5rem 2rem 2rem 2rem;
   margin-top: 1rem;
   width: 100%;
   color: grey;
}
.pages {
   float: right;
   margin-right: 4.5rem;
}
