@import "../../../../style/abstract.scss";

.btn-goback {
   margin-bottom: 2rem;
   align-self: flex-start;
   margin-left: 10%;

   @include respond(tab-land) {
      margin-left: 8%;
   }
   @include respond(tab-port) {
      margin-left: 4%;
   }
   @include respond(phone) {
      margin-left: 1%;
   }
   @include respond(small-phone) {
      margin-bottom: 1rem;
   }
}
