.installment-search {
   .btn-end {
      justify-content: flex-start;
      .btn-text {
         font-size: 2.2rem;
         line-height: 3rem;
      }

      .btn-cancel {
         margin-left: 1.5rem;
         margin-bottom: 1.3rem;
      }
   }
}
