@import "../../../../../../style/abstract.scss";

form {
   .townNeigh {
      margin-top: 0;
   }

   .tooltip.form {
      width: 100%;

      .tooltiptext {
         top: 13rem;
      }
   }
}
