@import "../../../../../../style/abstract.scss";

form.register-user {
   .btn-right {
      margin-top: 0;

      .btn-cancel {
         margin-top: -1rem;
         margin-right: 0;
      }
   }

   .tooltip.form {
      width: 100%;

      .tooltiptext {
         top: 13rem;
      }
   }
}
